<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-left">
        <li><%= link_to "Home Page", index_path %></li>
        <li><%= link_to "Video Interview", video_path %></li>
        <li><%= link_to "Study Introduction", introduction_path %></li>
        <li><%= link_to "Importance of Fundraising", fundraising_path %></li>
        <li><%= link_to "Danate Now", don_path %></li>
        <li onClick="turnColor('white')"><a href="#">White </a></li>
        <li onClick="turnColor('black')"><a href="#">Black </a></li>
      </ul>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>